<!-- menu -->
<ul id="dropdown1" class="dropdown-content">
  <li class="drop-item blue-text"><a {{action "toLogin"}} class="blue-text">Login</a></li>
  <li class="drop-item">{{#link-to "empresas" class="blue-text"}}Empresas{{/link-to}}</li>
</ul>
<nav class="white" role="navigation">
  <div class="nav-wrapper container">{{#link-to "main" id="logo-container" class="brand-logo"}}<span class="lblue-text">Job<span class="grey-text">Finder</span></span>{{/link-to}}
    <ul class="right">
     <li class="drop-item">{{#link-to "empresas" class="lblue-text"}}Empresas{{/link-to}}</li>
     <li><a {{action "toLogin"}} class="lblue-text">{{fa-icon "sign-in"}}</a></li>
    </ul>
  </div>
</nav>
<!-- Fim menu -->

{{outlet}}

<!-- Rodapé -->
<footer class="page-footer blue-grey lighten-5" style="margin-bottom:-15%">
  <div class="footer-copyright white">
    <div class="container grey-text">
    Made with {{fa-icon "tint"}} by <i>Alão</i>, <i>Carneiro</i> and <i>Luiz</i> converting {{fa-icon "coffee"}} into {{fa-icon "code"}}.
    </div>
  </div>
</footer>
<!-- Fim rodapé -->
