<div class="parallax-container">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 black-shadow" style="margin-top:15%; color: white">Procurando por uma oportunidade?</h4>
      </div>
      <div class="row center white z-depth-2">
        <div class="input-field col s12">
          {{input placeholder="Busque aqui" value=search type="text"}}
        </div>
      </div>
      <div class="row center" style=" margin-top: -1%;">
        <button {{action "buscar"}} class="btn-large blue lighten-2 col s2 offset-s5">
          Buscar
        </button>
      </div>
    </div>
    <img src="assets/images/drawing.svg" alt="" class="buildings"/>
    <div class="parallax"><img src="assets/images/cityNoLights.jpg" alt=""/></div>
  </div>

</div>
<!-- Fim Banner principal -->


<!-- Seção step-to-step -->

<div class="container">
  <div class="section">
    <div class="row center">

      <div class="col s12">
        <div class="icon-block">
          <h2 class="center lblue-text">{{fa-icon "question" aria-hidden="true" class="fa-2x"}}</h2>
          <h4 class="light">Como funciona?</h4>
          <p class="light">
            O <span class="lblue-text">Job<span class="grey-text">Finder</span></span> funciona de uma maneira muito simples. Empresas cadastram as vagas que gostariam de preencher no sistema para que possiveis empregados possam as encontrar e enviar seus currículos, e pessoas que estejam dísponiveis no mercado também podem colocar seus currículos de forma pública para que as empresas possam encontrar funcionarios que se adequem com o perfil do seu quadro de pessoal.
          </p>
        </div>
      </div>
    </div>



  </div>
</div>

<div class="parallax-container">
  <div class="section blue-grey lighten-5">
    <div class="container">
      <div class="row center light">
        <div class="col m4 s12">
          <div class="icon-block">
            <h2 class="center lblue-text">{{fa-icon "search" aria-hidden="true"}}</h2>
            <h5 style="color:black">Encontre</h5>
            <p style="color:black">
              Procure vagas disponíveis de acordo com suas áreas de interesse
            </p>
          </div>
        </div>
        <div class="col m4 s12">
          <div class="icon-block">
            <h2 class="center lblue-text">{{fa-icon "refresh" aria-hidden="true"}}</h2>
            <h5 style="color:black">Mantenha-se Atualizado</h5>
            <p style="color:black">
              Registre seu email para receber informações sobre novas vagas em suas áreas de interesse
            </p>
          </div>
        </div>
        <div class="col m4 s12">
          <div class="icon-block">
            <h2 class="center lblue-text">{{fa-icon "star" aria-hidden="true"}}</h2>
            <h5 style="color:black">Seja Contratado</h5>
            <p style="color:black">
              Compartilhe seu currículo para que empresas possam te contatar
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Fim da seção step-to-step -->
