<div class="parallax-container">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row card-panel" style="margin-top: 5%; padding: 0">


          <ul class="menu-div col s12 m4" style="padding: 0;">
            <li class="menu-li"><a class="menu-item-perfil" {{action "pessoal"}}><span class="lblue-text">{{fa-icon "user" aria-hidden="true"}}</span> Pessoal</a></li>
            <li class="menu-li"><a class="menu-item-perfil"><span class="lblue-text">{{fa-icon "user" aria-hidden="true"}}</span> Vagas</a></li>
            <li class="menu-li"><a class="menu-item-perfil"><span class="lblue-text">{{fa-icon "cog" aria-hidden="true"}}</span> Configurações</a></li>
            <li class="menu-li"><a class="menu-item-perfil" {{action "logout"}}><span class="lblue-text">{{fa-icon "sign-out" aria-hidden="true"}}</span> Logout</a></li>
          </ul>


        <div class="col s12 m8">
          <div class="row namediv">
            <div class="photodiv col s12 m4">
              <div class="chip">
                <img src="/assets/images/profile_M.jpg" alt="" >
                {{model.login}}
              </div>
            </div>
          </div>
          {{#if (eq 1 model.exib)}}

          {{/if}}

        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/cityNoLights.jpg" alt="image"/></div>

  </div>
</div>
