<div class="parallax-container fix-parallax">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row card-panel" style="margin-top: 9%; padding: 0">


          <ul class="menu-div col s12 m4" style="padding: 0;">
            <li class="menu-li" id="pessoal-btn" {{action "setMenu" "1"}}><a class="menu-item-perfil" ><span class="lblue-text">{{fa-icon "info-circle" aria-hidden="true"}}</span> Geral</a></li>
            <li class="menu-li" id="local-btn" {{action "setMenu" "2"}}><a class="menu-item-perfil" ><span class="lblue-text">{{fa-icon "home" aria-hidden="true"}}</span> Localização</a></li>
            <li class="menu-li" id="vagas-btn" {{action "setMenu" "3"}}><a class="menu-item-perfil"><span class="lblue-text">{{fa-icon "inbox" aria-hidden="true"}}</span> Nova Vaga</a></li>
            <li class="menu-li" id="config-btn"><a class="menu-item-perfil"><span class="lblue-text">{{fa-icon "cog" aria-hidden="true"}}</span> Configurações</a></li>
            <li class="menu-li" id="logout-btn" {{action "logout"}}><a class="menu-item-perfil"><span class="lblue-text">{{fa-icon "sign-out" aria-hidden="true"}}</span> Logout</a></li>
          </ul>


        <div class="col s12 m8" style="border-left: 1.5px solid #dbdbdb;">
          <div class="row">
            <div class="photodiv col s12 m4">
              <div class="chip">
                <img src="/assets/images/profile_M.jpg" alt="" >
                {{model.login}}
              </div>
            </div>
          </div>
          {{#if (eq 1 model.exib)}}
            <div class="row">
              <div class="infodiv col s12">

                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Razão Social
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.razaoSocial}}
                  </div>
                </div>


                <div class="input-field col s10 bord-top">
                  <div class="col s2 grey-text in-label">
                    Telefone
                  </div>
                  <div class="col s9 offset-s1">
                    {{input mask="(99)999-9999" unmaskedValue=model.numTelFixo}}
                  </div>
                </div>

                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    CNPJ
                  </div>
                  <div class="col s9 offset-s1">
                    {{input-mask mask="99.999.999/9999-99" unmaskedValue=model.CNPJ}}
                  </div>
                </div>

              </div>
            </div>

          {{else if (eq 2 model.exib)}}
            <div class="row">
              <div class="infodiv col s12">

                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Rua
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.logradouro}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Número
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.numeroResidencia}}
                  </div>
                </div>
                <div class="input-field col s10 bord-top">
                  <div class="col s2 grey-text in-label">
                    Complemento
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.complementoLocalidade}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    CEP
                  </div>
                  <div class="col s9 offset-s1">
                    {{input-mask mask="99 999-999" unmaskedValue=model.CEP}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Cidade
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.cidade}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Estado
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.estado}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    País
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.pais}}
                  </div>
                </div>

              </div>
            </div>

          {{else if (eq 3 model.exib)}}
            <div class="row">
              <div class="infodiv col s12">

                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Titulo
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.titulo}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Jornada
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.jornada}}
                  </div>
                </div>
                <div class="input-field col s10 bord-top">
                  <div class="col s2 grey-text in-label">
                    Requisitos
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.requisitos}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Descrição
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.descricao}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Número de Vagas
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.num}}
                  </div>
                </div>
                <div class="input-field col s10">
                  <div class="col s2 grey-text in-label">
                    Salário Inicial
                  </div>
                  <div class="col s9 offset-s1">
                    {{input value=model.newVaga.salario}}
                  </div>
                </div>

                <button {{action "novaVaga"}} class="btn-large blue lighten-2 col s12 m3 right" style="margin-top: 2%; margin-bottom:3%; margin-right:2.5%;">
                  Enviar
                </button>

              </div>
            </div>

          {{/if}}

        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/cityLights.jpg" alt="image"/></div>

  </div>
</div>
